<div class="h-screen w-full px-7 pt-7 bg-gradient-to-b from-gray-200 via-gray-400 to-gray-600">
    <div class="h-full w-full px-7 pt-7 bg-gradient-to-b from-gray-200 via-gray-400 to-gray-600">
        <div class="flex flex-col items-center w-full h-full">
            <div *ngIf="!isLoading" class="flex flex-col justify-center items-center h-full w-full max-w-screen-2xl">
                <div
                    class="flex flex-col content-between items-center justify-between w-full h-full bg-white rounded-t-lg drop-shadow-2xl overflow-auto">
                    <div class="flex flex-col w-11/12">
                        <app-layout-navbar [isSearchbarEnabled]="true" [list]="services"
                            (filtered)="onFiltered($event)"></app-layout-navbar>
                        <div *ngIf="filteredServices.length != services.length"
                            class="flex flex-col w-full h-full text-gray-600">
                            <h1 class="text-2xl font-bold mb-5">Search Results</h1>
                            <div class="flex flex-wrap mb-16 mx-[-10px]">
                                <app-service class="w-[20%]" *ngFor="let service of filteredServices"
                                    [service]="service"></app-service>
                            </div>
                        </div>
                        <div *ngIf="filteredServices.length == services.length"
                            class="flex flex-col w-full h-full text-gray-600">
                            <h1 *ngIf="favoriteServices.length > 0" class="text-2xl font-bold mb-5 ">Favorites</h1>
                            <div *ngIf="favoriteServices.length > 0" class="flex flex-wrap mx-[-10px]">
                                <app-service class="w-[20%]" *ngFor="let service of favoriteServices"
                                    [service]="service"></app-service>
                            </div>
                            <h1 class="text-2xl font-bold mb-5">Tickets</h1>

                            <div class="flex justify-between mb-4">
                                <div class="w-[49.25%] bg-white rounded-lg drop-shadow-2xl p-5">
                                    <h3 class="text-xl font-bold mb-5">State ticket overview</h3>
                                    <div class="flex px-5 2xl:py-10 xl:py-5 justify-between items-center">
                                        <div class="flex flex-col items-center w-[33%]">
                                            <div class="flex items-end">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 010 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 010-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375z" />
                                                </svg>
                                                <h1 class="2xl:text-7xl xl:text-5xl">
                                                    {{countedPerStateTickets.closedTicketCount}}</h1>
                                            </div>
                                            <span>Open</span>
                                        </div>
                                        <div class="flex flex-col items-center w-[33%]">
                                            <div class="flex items-end">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M21.75 6.75a4.5 4.5 0 01-4.884 4.484c-1.076-.091-2.264.071-2.95.904l-7.152 8.684a2.548 2.548 0 11-3.586-3.586l8.684-7.152c.833-.686.995-1.874.904-2.95a4.5 4.5 0 016.336-4.486l-3.276 3.276a3.004 3.004 0 002.25 2.25l3.276-3.276c.256.565.398 1.192.398 1.852z" />
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M4.867 19.125h.008v.008h-.008v-.008z" />
                                                </svg>
                                                <h1 class="2xl:text-8xl xl:text-6xl">
                                                    {{countedPerStateTickets.inProgressTicketCount}}</h1>
                                            </div>
                                            <span>In Process</span>
                                        </div>
                                        <div class="flex flex-col items-center w-[33%]">
                                            <div class="flex items-end">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                </svg>
                                                <h1 class="2xl:text-7xl xl:text-5xl">
                                                    {{countedPerStateTickets.openTicketCount}}</h1>
                                            </div>
                                            <span>Closed</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-[49.25%] bg-white rounded-lg drop-shadow-2xl p-5">
                                    <h3 class="text-xl font-bold mb-5">Priority ticket overview</h3>
                                    <div class="flex px-5 2xl:py-10 xl:py-5 justify-between items-center">
                                        <div class="flex flex-col items-center w-[33%]">
                                            <div class="flex items-end">
                                                <h1 class="2xl:text-7xl xl:text-5xl text-yellow-400">
                                                    {{countedPerPriorityTickets.normalTicketCount}}</h1>
                                            </div>
                                            <span>Normal</span>
                                        </div>
                                        <div class="flex flex-col items-center w-[33%]">
                                            <div class="flex items-end">
                                                <h1 class="2xl:text-8xl xl:text-6xl text-red-600">
                                                    {{countedPerPriorityTickets.emergencyTicketCount}}</h1>
                                            </div>
                                            <span>Emergency</span>
                                        </div>
                                        <div class="flex flex-col items-center w-[33%]">
                                            <div class="flex items-end">
                                                <h1 class="2xl:text-7xl xl:text-5xl text-orange-500">
                                                    {{countedPerPriorityTickets.highTicketCount}}</h1>
                                            </div>
                                            <span>High</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-full  bg-white rounded-lg drop-shadow-2xl">
                                <div *ngIf="!isLoading" class="h-96 rounded-lg relative overflow-x-auto">
                                    <table class="w-full text-sm text-left text-gray-500">
                                        <thead class="text-xs text-gray-700 uppercase sticky top-0 bg-gray-100">
                                            <tr>
                                                <th scope="col" class="px-6 py-3">
                                                    State
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Nr.
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Subject
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Requested
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Last updated
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="bg-white border-b hover:bg-gray-100"
                                                *ngFor="let ticket of tickets">
                                                <td class="px-6 py-4">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="w-6 h-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 010 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 010-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375z" />
                                                    </svg>
                                                </td>
                                                <td class="px-6 py-4 font-semibold text-gray-900">
                                                    {{ticket.ticketNum}}
                                                </td>
                                                <td class="px-6 py-4 font-semibold">
                                                    {{ticket.subject}}
                                                </td>
                                                <td class="px-6 py-4 font-semibold">
                                                    {{getDateFormatted(ticket.creationDate)}}
                                                </td>
                                                <td class="px-6 py-4 font-semibold">
                                                    {{getDateFormatted(ticket.lastModificationDate)}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <h1 class="text-2xl font-bold my-5">Services</h1>
                            <div class="flex flex-wrap mx-[-10px]">
                                <app-service class="w-[20%]" *ngFor="let service of services"
                                    [service]="service"></app-service>
                            </div>
                        </div>
                    </div>
                    <app-layout-footer></app-layout-footer>
                </div>
            </div>
            <div *ngIf="isLoading" class="h-full flex flex-col items-center justify-center">
                <svg aria-hidden="true" class="w-96 h-96 mr-2 animate-spin text-gray-300 fill-gray-400"
                    viewBox="0 0 100 101" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                        fill="currentColor" />
                    <path
                        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                        fill="currentFill" />
                </svg>
            </div>
        </div>
    </div>
</div>