<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100">
            <tr>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Image</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Service
                </th>
                <th scope="col" class="px-6 py-3">
                    Link
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let service of services" routerLink="/service/{{service.id}}" class="bg-white border-b hover:bg-gray-100 cursor-pointer">
                <td class="w-32 p-4">
                    <img src={{service.icon}} alt="Service Image">
                </td>
                <td class="px-6 py-4 font-semibold text-gray-900">
                    {{service.id}}
                </td>
                <td class="px-6 py-4 font-semibold text-gray-900">
                    {{service.name}}
                </td>
                <td class="px-6 py-4 font-semibold text-gray-900">
                    <a href="{{service.link}}" target="_blank">{{service.link}}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
