<div class="flex flex-col h-full bg-gray-300 mr-4 rounded-t-2xl">
    <div class="flex flex-col h-full pt-10">
        <button type="button"
            class="text-gray-600 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-l-xl text-sm ml-5 px-5 py-2.5 text-center inline-flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>
            <p class="text-lg" >Home</p>
        </button>
    </div>
    <div class="flex flex-col items-center justify-end w-full h-20 pb-2">
        <hr class="border-t w-40 border-gray-400 mb-1">
        <p class="text-gray-400">Powered by Simon</p>
    </div>
</div>