<app-dashboard-page>
    <div class="pr-5">
        <nav class="flex mb-5" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="/companies"
                        class="inline-flex items-center text-sm font-medium text-gray-600 hover:text-gray-800">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21" />
                        </svg>
                        Companies
                    </a>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <svg aria-hidden="true" class="w-6 h-6 text-gray-500" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-1 text-sm font-medium text-gray-600 md:ml-2">Edit company</span>
                    </div>
                </li>
            </ol>
        </nav>

        <h1 class="text-2xl font-bold mb-5">Edit company details</h1>
        <div class="flex w-full">
            <form name="nameForm" #fname="ngForm" (ngSubmit)="fname.form.valid && onNameSubmit()"
                class="flex flex-col w-[59%] mr-[2%] mb-5">
                <div class="w-3/4 mb-5">
                    <label for="company_name" class="block mb-2 text-sm font-semibold text-gray-900">Company
                        name</label>
                    <div class="flex w-full">
                        <input type="text" id="company_name" name="company_name" [(ngModel)]="form.company_name"
                            required #company_name="ngModel"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-3/4 p-2.5"
                            placeholder="Hospital">

                        <button type="submit" [disabled]="isUploading"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-1 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 h-10 text-center inline-flex items-center ml-5">Edit
                            company name</button>
                    </div>
                </div>
                <div *ngIf="company_name.errors && fname.submitted" class="text-red-600">Company name is required!</div>
            </form>

            <form name="logoForm" #f_logo="ngForm" (ngSubmit)="image && f_logo.form.valid && onLogoSubmit()"
                class="flex flex-col items-center w-[39%] mb-5">

                <div *ngIf="!image" class="w-full" appDrag (fileDropped)="onFileDropped($event)">
                    <p class="mb-2 text-sm font-semibold text-gray-900">Company logo</p>
                    <label for="dropzone-file"
                        class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-20 h-20">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                            </svg>
                            <p class="mb-2 text-sm text-gray-500 "><span class="font-semibold">Click to upload</span> or
                                drag
                                and drop</p>
                            <p class="text-xs text-gray-500 ">SVG, PNG, JPG (MAX. 800x800px)</p>
                        </div>
                        <input id="dropzone-file" type="file" class="hidden" [multiple]="false" required
                            (change)="fileBrowseHandler($event)" />
                    </label>
                </div>

                <div *ngIf="image" class="w-3/4 relative mb-2">
                    <img src="{{image}}" alt="preview-image" class="rounded-lg">
                    <button type="button" (click)="resetPreview()"
                        class="absolute top-0 m-2 text-white bg-red-700 hover:bg-red-800 focus:ring-1 focus:outline-none focus:ring-red-300 font-medium rounded-full text-sm p-2 text-center inline-flex items-center mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                        <span class="sr-only">Reset preview</span>
                    </button>
                </div>

                <div *ngIf="!image && f_logo.submitted" class="mt-5 text-red-600">Company logo is required!</div>
                <p *ngIf="isUploadFailed" class="text-red-600 mt-2">{{errorMessage}}</p>


                <button *ngIf="!image" type="submit" [disabled]="isUploading"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-1 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 h-10 text-center inline-flex items-center mt-5">Edit
                    company logo</button>
            </form>
        </div>
        <div class="flex w-full">
            <div class="flex flex-col items-end max-h-[350px] w-[59%] mr-[2%]">
                <button (click)="goToAddUser()"
                    class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-1 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 h-8 text-center inline-flex items-center mb-3">Add
                    user</button>
                <div class="w-full relative overflow-x-auto shadow-md rounded-lg">
                    <table class="w-full text-sm text-left text-gray-500">
                        <thead class="text-xs text-gray-700 uppercase sticky top-0 bg-gray-100">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    id
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    First name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Last name
                                </th>
                            </tr>
                        </thead>
                        <tbody class="overflow-y-auto">
                            <tr *ngFor="let user of users" routerLink="/company/{{companyId}}/edit-user/{{user.id}}" class="h-[50px] bg-white border-b hover:bg-gray-100 font-semibold cursor-pointer">
                                <td class="px-6 p-4">
                                    {{user.id}}
                                </td>
                                <td class="px-6 py-4">
                                    {{user.firstName}}
                                </td>
                                <td class="px-6 py-4">
                                    {{user.lastName}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="flex flex-col items-end max-h-[350px] w-[39%]">
                <button (click)="goToAddRole()"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-1 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 h-8 text-center inline-flex items-center mb-3">Add
                    role</button>
                <div class="w-full relative overflow-x-auto shadow-md rounded-lg">
                    <table class="w-full text-sm text-left text-gray-500">
                        <thead class="text-xs text-gray-700 uppercase sticky top-0 bg-gray-100">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    id
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Role
                                </th>
                            </tr>
                        </thead>
                        <tbody class="max-h-[350px] overflow-y-auto">
                            <tr *ngFor="let role of roles" class="bg-white border-b hover:bg-gray-100 font-semibold">
                                <td class="px-6 p-4">
                                    {{role.id}}
                                </td>
                                <td class="px-6 py-4">
                                    {{role.name}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="flex justify-between items-end">
            <h1 class="text-2xl font-bold mt-5 mb-2">Services</h1>
            <button (click)="goToAddService()"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-1 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 h-8 text-center inline-flex items-center mb-3">Add
            service</button>
        </div>
        <div class="relative overflow-x-auto max-h-[450px] shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500">
                <thead class="text-xs text-gray-700 uppercase sticky top-0 bg-gray-100">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Image</span>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Id
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Service
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Link
                        </th>
                    </tr>
                </thead>
                <tbody class="max-h-[450px] overflow-y-auto">
                    <tr *ngFor="let service of services" routerLink="/company/{{companyId}}/edit-service/{{service.id}}" class="bg-white border-b hover:bg-gray-100 cursor-pointer">
                        <td class="w-32 p-4">
                            <img src={{service.icon}} alt="Service Image">
                        </td>
                        <td class="px-6 py-3 font-semibold text-gray-900">
                            {{service.id}}
                        </td>
                        <td class="px-6 py-3 font-semibold text-gray-900">
                            {{service.name}}
                        </td>
                        <td class="px-6 py-3 font-semibold text-gray-900">
                            <a href="{{service.link}}" target="_blank">{{service.link}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class=" text-green-600" *ngIf="isUploading">
            <div class="h-full flex flex-col items-center justify-center">
                <p class="mb-2 mt-2">Editing company... </p>
                <svg aria-hidden="true" class="w-8 h-8 mr-2 animate-spin text-gray-600 fill-green-600"
                    viewBox="0 0 100 101" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                        fill="currentColor" />
                    <path
                        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                        fill="currentFill" />
                </svg>
            </div>
        </div>
    </div>
</app-dashboard-page>