<div class="h-screen w-full px-7 pt-7 bg-gradient-to-b from-gray-200 via-gray-400 to-gray-600">
    <div class="h-full w-full px-7 pt-7 bg-gradient-to-b from-gray-200 via-gray-400 to-gray-600">
        <div class="flex flex-col items-center justify-center w-full h-full">
            <section>
                <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                    <div class="mx-auto max-w-screen-sm text-center">
                        <h1
                            class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl 2xl:text-[15rem]  bg-clip-text text-transparent bg-gradient-to-r from-red-500 to-red-800">
                            404</h1>
                        <p class="mb-4 text-3xl tracking-tight font-bold text-white md:text-4xl">
                            Something's missing.</p>
                        <p class="mb-4 text-lg lg:text-xl xl:text-2xl font-light text-gray-300">Sorry, we can't find that
                            page. You'll find lots to explore on the home page. </p>
                        <a href="#"
                            class="inline-flex text-gray-300 bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm lg:text-lg xl:text-xl px-5 py-2.5 text-center my-4">Back
                            to Homepage</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>